.formContainer{
    background-color: lightgoldenrodyellow;
    padding: 20px;
}

.formControl{
    padding: 8px;
}

.formControl label{
    font-weight: bold;

}

.button{
    background-color: green;
}